services:
  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    environment:
      MYSQL_HOST: db
      MYSQL_USER: root
      MYSQL_PASSWORD: pass
    depends_on:
      - db
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: pass
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql
volumes:
  db-data:
